body {
    background-image:  
        url("water.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-container {
    display: block;
    max-width: 400px;
    height: 100vh;
    margin: 30px auto;
    background: none;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0px 0px 1px black;
}

button {
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-shadow: 0px 0px 1px white;
    
}

#increment-btn {
    background: lightskyblue;
    margin-top: 20px;
}

#save-btn {
    background: darkgreen;
}
#save-el {
    font-size: 24px;
    text-shadow: 0px 0px 2px white;
}

